body{
    background-image: url('./images/backgroundImg.png');
    display: flex;
    flex-direction: column;
    min-height: 100vh;        /*Setting the minimum height taken by the body to be 100% of avalible visible screen.*/
    font-family:'VT323','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #D3C18A;
    color: #44380e;
    margin: 0px;
    justify-content: space-between;

}

header{
    color: #2b2306;
    display: flex;
    background-color: #817045;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-bottom: 8px solid #5A4D1D;
}
footer{
    display: flex;
    background-color: #817045;
    justify-content: center;
    border-top: 8px solid #B19B62;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 200px;
    margin: 16px;
    margin-left: 40px;
}
.buttonsSet{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex : 1;
}

.buttonsSet button{
    display: flex;
    background-color: #817045;
    height: 56px;
    font-family: 'VT323';
    font-size: 24px;
    font-weight: 800;
    color:#2b2306;
    border-width: 5px;
    border-color: #af994a;
    border-left: 5px solid #907d36;
    box-shadow: 8px 8px;
    justify-content: center;
    align-items: center;
    
    gap: 16px;
}
.buttonsSet button:active {
    transform: translate(8px, 8px);
}

.canvasContainer{
    display: flex;
    flex-direction: column;
    align-items:flex-end;

}

.canvas{
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin:0px 24px 16px 16px;
    background-color: #F5F4DD;
    border: 8px solid #5A4D1D;
    border-top: 8px solid #af994a;
    border-left: 8px solid #907d36;
    box-shadow: 10px 10px #2b2306;
}

.canvasSize{
    display: flex;
    height: 40px;
    width: 80px;
    background-color: #817045;
    border: 8px solid #5A4D1D;
    border-bottom: 0px;
    margin: 16px 64px 0px;
    border-top: 8px solid #af994a;
    border-left: 8px solid #907d36;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px #2b2306;
}

.pallet{
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 100px;
    background-color: #817045;
    border: 8px solid #5A4D1D;
    border-top: 8px solid #af994a;
    border-left: 8px solid #907d36;
    box-shadow: 10px 10px #2b2306;
    margin: 0px 40px 24px 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 16px;
}

.colorPicker{
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}

.colorBtn{
    margin: 0px;
    padding: 0px;
    border: 6px solid #5A4D1D;
    border-bottom: 6px solid #af994a;
    border-right: 6px solid #907d36;
}
.colorBtn:active {
    transform: scale(0.85);
    border: 6px solid #af994a;
  }